<div class="node" ng-class="{'node_active': node.selected}" node-id="{{node.id}}" ng-init="level = level + 1">
    <div class="node__text" ng-click="select(node)">{{node.name}}</div>
    <span class="toggle-btn" ng-click="toggle(node, level)" ng-if="node.children && node.children.length">{{!isExpand(node.collapsed, level) ? '+' : '-'}}</span>
</div>

<ol class="children" ng-if="node.children && node.children.length" ng-show="isExpand(node.collapsed, level)" data-level="{{level}}" >
    <li class="children__item" ng-repeat="node in node.children" ng-include="'js/directives/mindmap/node.html'"></li>
</ol>