<div class="grid-container">
    <div class="grid-content grid-border">
        <div class="grid-header">
            <table class="">
                <tbody>
                    <tr>
                        <td ng-repeat="col in cols">
                            <div class="col-header">{{col.name}}</div>
                            <span class="col-resizer"
                                ng-if="$index !== cols.length - 1"
                                ng-mousedown="resizeMovedown($index, $event)"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="grid-body" ng-style="bodyStyle">
            <table class="">
                <tbody>
                    <tr class="invisible-row">
                        <th ng-repeat="col in cols"></th>
                    </tr>
                    <tr ng-repeat="row in rows">
                        <td ng-repeat="col in cols">
                            <grid-cell ng-if="!!col.template" data="col">
                                <div compile="col.template" col="col" row="row"></div>
                            </grid-cell>
                            <div ng-if="!col.template">
                                {{row[col.key]}}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>