.grid-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: hidden;
    overflow-x: auto;
}

.grid-content {
    position: absolute;
    min-width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

.grid-container table {
    width: 1px;
    min-width: 100%;
    max-width: none;
    table-layout: fixed;
    border: 1px solid #ddd;
}

.grid-border table tr {
    border-bottom: 1px solid #ddd;
}

.grid-container td,
.grid-container th {
    border-right: 1px solid #ddd;
    box-sizing: border-box;
}

.grid-container td input {
    border: none;
    /*background: transparent;*/
}

.grid-header {
    position: relative;
    z-index: 99;
}

.grid-header td {
    height: 30px;
    line-height: 30px;
    /*background: #ddd;*/
    font-weight: bold;
}

.grid-header td,
.grid-header td div,
.grid-body td,
.grid-body td div {
    /*position: relative;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    box-sizing: border-box;
}

.grid-header td,
.grid-body td {
    padding: 2px 5px;
}   

.grid-header td > span {
    overflow: hidden;
}

.grid-body {
    margin-top: -1px;
    overflow-x: hidden; 
    overflow-y: auto;
    height: 100%;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.invisible-row,
.invisible-row th {
    height: 0;
    border-top: 0;
    border-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.col-header {
    position: relative;
}

.col-resizer {
    position: absolute;
    top: 0;
    width: 5px;
    height: 25px;
    display: inline-block;
    cursor: col-resize;
    z-index: 10;
}