<style>
    .tree-view {
        width: 40%;
        margin-right: 30px;
        margin-bottom: 30px;
        display: inline-block;
        vertical-align: top;
    }
</style>
<div ng-controller="TestDirectivesController">
    <h3>Directives Demo</h3>
    <ul>
        <li ng-repeat="directive in directives">
            {{directive.name}}
        </li>
    </ul>

    <dialog info="dlg.info" onOk="dlg.onOk()" onCancel="dlg.onCancel()" onClose="dlg.onClose()"></dialog>

    <pagination info="pagination.info" on-change="pagination.pageChanged" max-page-count="5"></pagination>

    <messagebar info="messagebar.info" on-close="messagebar.onClose"></messagebar>

    <treeview data="treeview.data"
        animation="true"
        on-toggleExpand="treeview.toggleExpand"
        on-select="treeview.selectItem"
        on-drag="treeview.dragItem"
        on-dbclick="treeview.doubleClickItem"></treeview>

    <treeview data="treeview2.data"
        animation="true"
        multiple="true"
        on-toggleExpand="treeview2.toggleExpand"
        on-select="treeview2.selectItem"
        on-drag="treeview2.dragItem"
        on-dbclick="treeview2.doubleClickItem"></treeview>

    <mindmap data="mindmap.data"
        expandlevel="3"
        on-select="mindmap.selectNode"
        on-toggleExpand="mindmap.toggleExpand"></mindmap>

    <pre ng-show="!!mindmap.selectedNode">{{mindmap.selectedNode | json:4}}</pre>
 
    <mindmap data="mindmap2.data" multiple="true"
        on-select="mindmap2.selectNode"
        on-toggleExpand="mindmap2.toggleExpand"></mindmap>
    
    <pre ng-show="mindmap2.selectedNodes.length">{{mindmap2.selectedNodes| json:4}}</pre>

    <grid cols="grid.cols"
        rows="grid.rows"
        height="200"
        sort="true"
        resize="true">
    </grid>

    <spliter ng-if="false"></spliter>

    <br/>
    <div layout height="600" direction="vertical" resizable="true">
        <div layout-top height="50" resizable="true">Top</div>
        <div layout-center direction="horizontal">
            <div layout direction="horizontal" resizable="true">
                <div layout-left width="200">Left</div>
                <div layout-right>
                    <div layout direction="vertical" resizable="true">
                        <div layout-top height="100">Right top</div>
                        <div layout-center direction="vertical">
                            <div layout direction="vertical" resizable="true">
                                <div layout-top height="50">Right Center Top</div>
                                <div layout-center>
                                    <div layout-left width="150">Right Center Left</div>
                                    <div layout-right>Right Center Right</div>
                                </div>
                                <div layout-bottom height="50">Right Center Bottom</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div layout-bottom height="50">Bottom</div>
    </div>
    
</div>