<style>
    td input {
        border: none !important;
        height: 100% !important;
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
        box-shadow: none !important;
        padding: 0 5px !important;
        box-sizing: border-box;
    }

    th.group {
        font-size: 0;
    }
    th.group {
        width: 400px;
        padding: 0;
    }
    th.group span {
        display: inline-block;
        width: 25%;
        /*overflow: hidden;*/
        /*white-space: nowrap;*/
        text-overflow: ellipsis;
        font-size: 14px;
        height: 100%;
        vertical-align: top;
        border-right: 1px solid #ddd;
        /*border-left: 1px solid #ddd;*/
        box-sizing: border-box;
        line-height: 28px;
        text-align: left;
        padding-left: 5px;
    }

    th.group span:last-child {
        border-right: 0;
    }



    td {
        padding: 0 !important;
        height: 30px;
        line-height: 30px;
    }

    td div {
        height: 100%;
        font-size: 0;
    }

    table tr td.group input {
        width: 25% !important;
        display: inline-block;
        border-right: 1px solid #ddd !important;
        border-radius: 0;
        box-sizing: border-box;
    }

    table tr td.group input:last-child {
        border-right: 0 !important;
    }

    table tr th.group {
        width: 400px;
    }

    table tr th:first-child {
        flex: 2 !important;
    }

    table tr td:first-child {
        flex: 2 !important;
    }

    table tr td {
        width: 100px;
    }

    table tr td.group {
        width: 400px;
    }

    .table thead tr,
    .table tbody tr { 
        display:block;
        display: flex;

    } 
    .table tbody tr:last-child {
        /*border-bottom: 1px solid #ddd;  */
        /*border-radius: 2px;  */
    }
    .table {
        /*border-bottom: none !important;*/
        width: 80% !important;
        margin: auto;
    }
    
    .table thead tr th,
    .table tbody tr td {
        flex: 1;
    }
    .table thead tr th.group[data-cnt="3"],
    .table tbody tr td.group[data-cnt="3"] {
        flex: 4;
    }
    .table tbody { 
        display: block; 
        height: 150px; 
        overflow: auto;
    } 
    .table th { 
        width: 100px; 
        box-sizing: border-box;
        padding: 0;
    } 
    .table td { 
        width: 100px;
        box-sizing: border-box; 
    } 
</style>
<div ng-controller="TestController">
    <section>
        <h3 class="{{title || 'hello'}}">Test Page</h3>
        <ul id="ztree-box-1" class="ztree"></ul>
    </section>

    <h3>Select</h3>
    <form action="/" type="POST" method="POST">
        <select ng-model="selected" name="selected" ng-options="item for item in items track by item">
            <option value="">Please Select</option>
        </select>

        <select ng-model="selected2" name="selected2" ng-options="item.name for item in items2 track by item.id">
            <option value="">Please Select2</option>
        </select>
    
    
        <select ng-model="selected3" name="selected3" ng-options="item.name as item.name.name for item in items3 track by item.id">
            <option value="">Please Select3</option>
        </select> 
        <input type="submit" value="submit"/>   
    </form>



    <table id="groupTable" class="table table-condensed table-bordered table-striped">
        <thead>
            <th ng-repeat="column in groupTable.columns" data-cnt="{{column.children && column.children.length}}" ng-class="{group: column.children}">
                <span>{{column.name}}</span>
                <span ng-repeat="child in column.children">{{child.name}}</span>
            </th>
        </thead>
        <tbody ng-scroll="scrollTbody($event)">
            <tr ng-repeat="row in groupTable.rows">
                <td ng-repeat="column in groupTable.columns" data-cnt="{{column.children && column.children.length}}" ng-class="{group: column.children}">
                    <span ng-show="$index === 0">{{row[column.key]}}</span>
                    <div>
                    <input ng-show="$index !== 0" ng-model="row[column.key]" type="text" />
                    <input ng-repeat="child in column.children"
                        ng-show="$parent.$index !== 0" ng-model="row[child.key]"
                        type="text" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <input type="text"></input>

    <div style="border: 1px solid red;width: 200px;">
        <div style="width: 33.333%;height: 100%;display:inline-block;">hello</div>
        <div style="width: 33.333%;height: 100%;display:inline-block;">hello hello hello</div>
        <div style="width: 33.333%;height: 100%;display:inline-block;">hello</div>
    </div>
</div>